@media screen and (min-width: 1000px) {
    .logo {
        max-width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .link {
        font-size: 0.85rem!important;
    }
}

.rockwell-navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 2;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.75);
    animation: fadeIn ease-in-out 0.2s;
    -webkit-animation: fadeIn ease-in-out 0.2s;
    -moz-animation: fadeIn ease-in-out 0.2s;
    -o-animation: fadeIn ease-in-out 0.2s;
    -ms-animation: fadeIn ease-in-out 0.2s;
}

.unscrolled {
    background-color: none;
    animation: fadeOut ease-in-out 0.2s;
    -webkit-animation: fadeOut ease-in-out 0.2s;
    -moz-animation: fadeOut ease-in-out 0.2s;
    -o-animation: fadeOut ease-in-out 0.2s;
    -ms-animation: fadeOut ease-in-out 0.2s;
}

@keyframes fadeIn {
    0% { background-color: rgba(0, 0, 0, 0.0); }
    100% { background-color: rgba(0, 0, 0, 0.75) }
}
    
@-moz-keyframes fadeIn {
    0% { background-color: rgba(0, 0, 0, 0.0); }
    100% { background-color: rgba(0, 0, 0, 0.75) }
}
    
@-webkit-keyframes fadeIn {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-o-keyframes fadeIn {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-ms-keyframes fadeIn {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}

@keyframes fadeOut {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-moz-keyframes fadeOut {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-webkit-keyframes fadeOut {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-o-keyframes fadeOut {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}
    
@-ms-keyframes fadeOut {
    0% { background-color: rgba(0, 0, 0, 0.75); }
    100% { background-color: rgba(0, 0, 0, 0.0) }
}

.navigation {
    margin-top: 8px;
    margin-bottom: 8px;
}

.link {
    color: #cdad58!important;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 50%;
}

.contact-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body, .modal-footer, .modal-header {
    border: none;
    border-radius: 0;
}

.modal-header, .modal-footer {
    background-color: #070707!important;
}

.modal-body {
    background-color: #0a0a0a!important;
}

.modal-title {
    font-family: 'Archivo Black', sans-serif;
    color: #cdad58!important;
    text-transform: uppercase;
}

.modal-body h1 {
    color: white!important;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.modal-body p {
    color: white!important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.modal-btn {
    background-color: #cdad58!important;
    border: none;
    color: black!important;
}

.modal-nomargin {
    margin: 0!important;
}