.footer-container {
    position: relative;
    background-color: #070707!important;
    height: 300px;
    margin-top: 32px;
    z-index: 0;
}

.footer-content {
    z-index: 2;
    color: white!important;
    text-align: center;
}

.footer-header {
    color: white!important;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    padding-top: 32px;
    text-shadow: 2px 2px 8px black;
}

.footer-text {
    display: block;
    color: white!important;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    z-index: 2;
    text-shadow: 2px 2px 8px black;
}

.footer-image {
    position: absolute;
    bottom: 0px;
    margin-left: 100px;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.footer-icon {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 36px;
    color: white!important;
    transition: color 0.2s ease-in-out;
    text-shadow: 2px 2px 8px black;
}

.footer-icon:hover {
    color: #cdad58!important;
}

.footer-text {
    color: white!important;
    transition: color 0.2s ease-in-out;
}

.footer-text:hover {
    color: #cdad58!important;
}